<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" href="../../../css/common.css" >
<link rel="stylesheet" href="../../../libs/ztree/css/zTreeStyle/zTreeStyle.css" >
</head>
<body>
<div class="vbox box-con">
	<div class="hbox hz-col-1">
		<div class="left-con vbox" style="width:300px">
			<div class="input icon" >
			  	<input v-model="searchTree" placeholder="输入关键字搜索">
			  	<span class="find"></span>
		    </div>
		    <div class="hz-col-1" style="overflow:auto">
				<ul id="areaPatrolTree" class="ztree"></ul>	    	
		    </div>
		</div>
		<div class="hz-col-1 right-con">
			<form class="form-horizontal" role="form" >
			<div class="row">
			  <div class="col-xs-12">
				  <div class="form-group">
				    <label class="col-xs-3 control-label" for="formGroupInputLarge">巡更点名称<span class="required">*</span></label>
				    <div class="col-xs-9">
				      <input class="form-control" v-model="patrol.name" type="text" placeholder="巡更点名称">
				    </div>
				  </div>
			  </div>
			</div>
			<div class="row">
				  <div class="col-xs-12">
					  <div class="form-group">
					    <label class="col-xs-3 control-label" >厂商编号</label>
					    <div class="col-xs-9">
					      <input class="form-control" v-model="patrol.ppi_other_id" type="text"  placeholder="厂商唯一编号">
					    </div>
					  </div>
				  </div>
			</div>
			<div class="row">
				  <div class="col-xs-12">
					  <div class="form-group">
					    <label class="col-xs-3 control-label" >巡更设备品牌<span class="required">*</span></label>
					    <div class="col-xs-9">
						  		<hz-select 
						  			tip="巡更设备品牌"
						  			code="PATROL_BRAND" 
						  			:id.sync="patrol.ppi_brand"
						  		/>
					    </div>
					  </div>
				  </div>
			</div>
			
			<div class="row">
			  <div class="col-xs-12">
				  <div class="form-group">
				    <label class="col-xs-3 control-label" >关联控制器<span class="required">*</span></label>
				    <div class="col-xs-9" >
				    	<hz-treeselect 
				    		tip="关联控制器"
				    		sqlid="select_doorctrl_ztree"
				    		isleaf=1
				    		:params={cusNumber:patrol.ppi_cus_number}
				    		:id.sync="patrol.ppi_rlan_ctrl"
				    	/>
				    </div>
				  </div>
			  </div>
		  	</div>
			<div class="row">
			  <div class="col-xs-12">
				  <div class="form-group">
				    <label class="col-xs-3 control-label" >所属部门<span class="required">*</span></label>
				    <div class="col-xs-9" >
				    	<hz-treeselect 
				    		tip="所属部门"
				    		sqlid="select_org_dept"
				    		whereid=0
				    		:params=[patrol.ppi_cus_number]
				    		:id.sync="patrol.ppi_dept_id"
				    	/>
				    </div>
				  </div>
			  </div>
		  	</div>
		  	<div class="row">
			  <div class="col-xs-12">
				  <div class="form-group">
				    <label class="col-xs-3 control-label" >所在区域<span class="required">*</span></label>
				    <div class="col-xs-9">
				      <input class="form-control"  readonly v-model="patrol.ppi_area_name" type="text"  placeholder="所在区域">
				   	  <input type="hidden"  v-model="patrol.ppi_area_id">
				    </div>
				  </div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-xs-12">
					<div class="form-group">
					    <label class="col-xs-3 control-label" >安装位置</label>
					    <div class="col-xs-9">
					      <input class="form-control" v-model="patrol.ppi_dvc_addrs" type="text"  placeholder="安装位置">
					    </div>
				    </div>
			  </div>
		  	</div>
		  	<div class="row">
			  <div class="col-xs-12">
				  <div class="form-group">
				    <label class="col-xs-3 control-label" >巡更设备状态</label>
				    <div class="col-xs-9">
					  		<hz-select 
					  			tip="巡更设备状态"
					  			code="PATROL_DEVICE_STATUS" 
					  			:id.sync="patrol.ppi_dvc_stts"
					  		/>
				    </div>
				  </div>
			  </div>
			</div>
			</form>
		</div>
	</div>
	<div class="bottom">
		<div class="buttons" >
			<a @click="save()" class="hbtn btn_primary btn_large"><i class="btn_icon icon_save"></i><span>保存</span></a>
			<a @click="del()" class="hbtn btn_primary btn_large"><i class="btn_icon icon_del"></i><span>删除</span></a>
			<a @click="reset()" class="hbtn btn_primary btn_large"><i class="btn_icon icon_reset"></i><span>重置</span></a>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../../js/require.js"></script>
<script type="text/javascript" src="../../../js/config.js"></script>
<script type="text/javascript">
requirejs(['hz/cds/patrol/patrolDevice'])
</script>
</body>
</html>