<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:int-jmx="http://www.springframework.org/schema/integration/jmx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/jms
            http://www.springframework.org/schema/integration/jms/spring-integration-jms-2.1.xsd
            http://www.springframework.org/schema/integration/jmx
            http://www.springframework.org/schema/integration/jmx/spring-integration-jmx-2.1.xsd">
	<!-- 引入项目配置文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:socket-config.properties</value>
			</list>
		</property>
	</bean>
    <bean id="nettySocketServer" class="com.hz.frm.net.netty.NettySocketServer" init-method='start'>
		<property name="nettyConfig" ref="nettyConfig" />
	</bean>
	
    <bean id="nettyConfig" class="com.hz.frm.net.netty.bean.NettyConfig">
		<property name="ssl" value="${ssl}" />
		<property name="sslPort" value="${sslPort}" />
		<property name="port" value="${port}" />
		<property name="communicationMode" value="${communicationMode}" />
		<property name="netWorkerNum" value="${netWorkerNum}" />
		<property name="msgComsumerPool" value="${msgComsumerPool}" />
		<property name="msgComsumerNum" value="${msgComsumerNum}" />
		<property name="msgServicePackage" value="${msgServicePackage}" />
	</bean>
	
</beans>