@CHARSET "UTF-8";

#mapToolsPanel {position: absolute; top: 30%; right: 110px; z-index: 99;background-color: rgba(42, 61, 82, .9);}
#mapToolsPanel div.map-title {
	height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    position: relative;
    background: rgba(39, 119, 30, 0.71);
}
#mapToolsPanel div.map-tools {box-sizing: border-box; border-top: 1px solid rgba(76, 100, 125, 0.88); background-color: transparent;}
#mapToolsPanel ul.ul-btns {}
#mapToolsPanel ul.ul-btns >li {padding: 6px 30px; text-align: center; cursor: pointer;}
#mapToolsPanel ul.ul-btns >li:hover {background-color: rgba(0, 118, 137, 0.2);}
#mapToolsPanel ul.ul-btns >li.selected {color: rgb(255, 167, 0); background-color: rgba(0, 118, 137, 0.7);}

#mapToolsPanel .map-close {
	position: absolute;
	top: 9px;
    right: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/close_a.png) center center no-repeat;
    cursor: pointer;
    transition: all 0.5s;
    opacity: .7;
    z-index: 1;
}
#mapToolsPanel .map-close:hover {
	background-image: url(../images/close_a_h.png);
	opacity: 1;
}

.map-tools-icon {background:url(../images/map_tools_icon.png) 8px center no-repeat; background-size: 25px;}
.map-tools-icon:hover {background-image: url(../images/map_tools_icon_h.png);}
