<style>
	#addpoint {
		position: relative;
		width:500px;
	}
	.point-con{
		padding: 10px 15px 10px 10px;
	}
	.fine{
		position:absolute;
		top:0;
		left:-280px;
		width:280px;
		padding:10px 0;
		background:rgba(10,28,38,0.85);
		padding:5px;
		z-index:100;
	}
	.fine .x{text-align:center;margin-bottom:7px;}
	.add img{width:22px;height:22px;cursor: pointer;}
	.jian img{width:22px;height:22px;cursor: pointer;}
	.num input{width:85px;height:28px;outline:none;padding-left:12px;}
</style>
<body>
<div id="addpoint">
	<div class="point-con">
		<form class="form-horizontal" role="form" >
			<div class="col-xs-12" v-show="showLink">
				<div class="form-group">
					<label class="col-xs-3 control-label">设备</label>
					<div class="col-xs-9">
				      	<hz-treeselect :id.sync="point.mpi_link_id" :selected.sync="linkDevice" :sname.sync="point.mpi_point_name"  tip="选择关联设备" :sqlid="sqlId[point.mpi_link_type]" isleaf=true :params="{cusNumber:point.mpi_cus_number}"/>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12">
				<div class="form-group">
					<label class="col-xs-3 control-label">名称</label>
					<div class="col-xs-9">
				      	<input class="form-control" v-model="point.mpi_point_name" type="text" placeholder="点位名称（必填项）">
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<label class="col-xs-3 control-label">视角</label>
					<div class="col-xs-9">
				      	<input class="form-control" id="vname" readonly type="text" placeholder="视角菜单名称">
				      	<input type="hidden" id="vid" v-model="point.mpi_view_id">
					</div>
				</div>
			</div>
			<div v-cloak v-show="isMore">
				<!-- <div class="col-xs-12">
					<div class="form-group">
						<label class="col-xs-3 control-label">类型</label>
						<div class="col-xs-9">
					      	<hz-select tip="选择关联类型" code="POINT_DEVICE_TYPE" :id.sync="point.mpi_link_type" />
						</div>
					</div>
				</div> -->
		
				<div class="col-xs-12">
					<div class="form-group">
						<label class="col-xs-3 control-label">标识</label>
						<div class="col-xs-9">
					      	<hz-select tip="点位标识" code="POINT_FLAG" :id.sync="point.mpi_point_flag"/>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label class="col-xs-3 control-label">方式</label>
						<div class="col-xs-9">
					      	<hz-select tip="显示方式" code="POINT_SHOW_TYPE" :id.sync="point.mpi_show_type"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="bottom">
					<div style="float:left">
						<a @click="showMore" class="hbtn btn_primary btn_large"><span v-text="isMore ? '隐藏属性' : '更多属性>>'"></span></a>
					</div>
					<div class="buttons" >
						<a @click="save" class="hbtn btn_primary btn_large"><i class="btn_icon icon_save"></i><span>保存</span></a>
						<a @click="close" class="hbtn btn_primary btn_large"><span>关闭</span></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>

<script type="text/javascript">
  requirejs(['hz/map/mapPoint/mapPoint']);
</script>