<?xml version="1.0" encoding="UTF-8"?>
<!-- 在xml配置中SQL语句里面不能用'<'，所以'<' 用 '#' 号表示，在加载时会自动转换过来 -->
<sqlItem>
	<item id="insert_menu_sql" desc="这是一个SQL配置的模板文件">
		<seq>SYS_FUNC_MENU_DTLS@fmd_id</seq>
		<sql>
			INSERT INTO sys_func_menu_dtls
			  (fmd_id,
			   fmd_parent_id,
			   fmd_name,
			   fmd_path,
			   fmd_type,
			   fmd_width,
			   fmd_height,
			   fmd_flag,
			   fmd_open_type,
			   fmd_icon,
			   fmd_shortcut_key,
			   fmd_seq,
			   fmd_use,
			   fmd_crte_user_id,
			   fmd_sys_func,
			   fmd_crte_time)
			values
			  (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, SYSDATE)
		</sql>
    </item>

    <item id="query_menu_sql" desc="这是一个SQL配置的模板文件">
		<sql>
			SELECT fmd_id,
			       fmd_parent_id,
			       fmd_name,
			       fmd_path,
			       fmd_type,
			       fmd_width,
			       fmd_height,
			       fmd_flag,
			       fmd_open_type,
			       fmd_icon,
			       fmd_shortcut_key,
			       fmd_seq,
			       fmd_use,
			       fmd_sys_func
			  FROM sys_func_menu_dtls
		</sql>
		<order id="0">
			ORDER BY fmd_seq
		</order>
    </item>
    
    <item id="update_menu_sql" desc="这是一个SQL配置的模板文件">
		<sql>
			UPDATE sys_func_menu_dtls
			   SET fmd_parent_id    = ?,
			       fmd_name         = ?,
			       fmd_path         = ?,
			       fmd_type         = ?,
			       fmd_width        = ?,
			       fmd_height       = ?,
			       fmd_flag         = ?,
			       fmd_open_type    = ?,
			       fmd_icon         = ?,
			       fmd_shortcut_key = ?,
			       fmd_use          = ?,
			       fmd_updt_user_id = ?,
			       fmd_sys_func	    = ?,
			       fmd_updt_time    = SYSDATE
			 WHERE fmd_id = ?

		</sql>
    </item>
    
     <item id="delete_menu_sql" desc="这是一个SQL配置的模板文件">
		<sql>
			DELETE FROM 	
				sys_func_menu_dtls 
			WHERE 
				fmd_id=:fmd_id 
		</sql>
    </item>
    <item id="update_menu_seq" desc="这是一个SQL配置的模板文件">
		<sql>
			UPDATE	
				sys_func_menu_dtls 
			SET
				fmd_seq=:fmd_seq
			WHERE 
				fmd_id=:fmd_id 
		</sql>
    </item>

	<item id="query_user_role_menus" desc="查询用户权限菜单">
		<sql>
			SELECT fmd_id        AS id,
			       fmd_parent_id AS pid,
			       fmd_name      AS name,
			       fmd_icon      AS icon,
			       fmd_width     AS width,
			       fmd_height    AS height,
			       fmd_path      AS url,
			       fmd_flag      AS permission,
			       fmd_open_type AS type,
			       fmd_seq       AS seq,
			       fmd_icon      AS
			  FROM sys_func_menu_dtls
		</sql>
		<where id="0">
			 WHERE EXISTS (SELECT '1'
			          FROM (SELECT rfr_role_id, rfr_func_id
			                  FROM sys_role_func_rltn
			                 INNER JOIN sys_user_role_rltn
			                    ON urr_role_id = rfr_role_id
			                 INNER JOIN sys_user_base_dtls
			                    ON urr_cus_number = ubd_cus_number
			                   AND urr_user_id = ubd_id
			                   AND ubd_cus_number = ?
			                   AND ubd_id = ?
			                 INNER JOIN sys_role_base_dtls
			                    ON rbd_id = urr_role_id
			                   AND rbd_use = 1)
			         WHERE rfr_func_id = fmd_id)
			   AND fmd_use = 1
		</where>
		<order id="0">
			 ORDER BY pid, seq
		</order>
	</item>
</sqlItem>