html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: url(images/bg.jpg) 0 0 no-repeat;
  background-size: 100%; }

i {
  font-style: normal; }

i, span {
  display: inline-block; }

button, input {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer; }

.zIndex {
  z-index: 5 !important; }

.marginLeft {
  margin-left: 0 !important; }

.displayNone {
  display: none !important; }

.cursorGrabbing {
  cursor: -webkit-grabbing !important; }

.borderColor {
  border-color: #ff8833 !important; 
}



@keyframes waiting {
  from {
    color: #AAA;
    border-color: #999;
    background-color: rgba(96, 96, 96, 0.4); }
  to {
    color: #ff8833;
    border-color: #ff8833;
    background-color: rgba(255, 156, 68, 0.2);
    box-shadow: 0 0 15px 1px rgba(255, 156, 68, 0.9); } }
@keyframes waiting-i {
  from {
    background-image: url(images/normal.png); }
  to {
    background-image: url(images/waiting.png); } }
@keyframes waiting-line {
  from {
    stroke: #EEE; }
  to {
    stroke: #ff824c; } }
#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

#chart {
  cursor: pointer;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  position: absolute;
  justify-content: left;
  -webkit-justify-content: left; }

#chart #tip {
  position: absolute;
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(60, 60, 60, 0.9);
  font-size: 13px;
  color: #fff;
  display: none;
  z-index: 9;
  white-space: nowrap;
  user-select: none; }

#chart #tip span {
  margin-bottom: 5px; }

#chart svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s; }

.div_svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s; }

#chart .list {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  border: 1px solid #666;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  transition: all .5s;
  padding: 0 5px 0 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px #111;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

#chart .list i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5%;
  width: 20px;
  height: 20px;
  background: url() center center no-repeat;
  background-size: 100% 100%;
  transition: all .5s; }

#chart .list.normal {
  color: #CCC;
  border-color: #AAA;
  background-color: rgba(96, 96, 96, 0.4); }

#chart .list.normal i {
  background-image: url(images/normal.png); }

#chart .list.waiting {
  animation: waiting 1s ease 0s infinite alternate; }

#chart .list.waiting i {
  animation: waiting-i 1s ease 0s infinite alternate; }

#chart .list.active {
  color: #00FF22;
  border-color: #9ae260;
  background-color: rgba(155, 245, 96, 0.2);
  box-shadow: 0 0 5px 1px rgba(155, 245, 96, 0.5); }

#chart .list.active i {
  background-image: url(images/active.png); }

path.path {
  fill: none;
  stroke-opacity: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1; }

path.path.normal {
  stroke: #EEE;
  stroke-width: 1; }

path.path.hover {
  stroke: #ff824c;
  stroke-width: 2; }

path.path.waiting {
  stroke: #ff824c;
  stroke-width: 2;
  animation: waiting-line 1s ease 0s infinite alternate; }

path.path.active {
  stroke: #9ae260;
  stroke-width: 2; }

.flex {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  z-index: 1; }

#msgPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99; }

#msgPanel * {
  box-sizing: border-box; }

#msgPanel .msg-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -150px;
  margin-top: -90px;
  padding: 30px 5px 40px 15px;
  width: 300px;
  height: 180px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden; }

#msgPanel .msg-box .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 8px 0 0 35px;
  background: url(images/alert.png) 1px center no-repeat;
  text-align: left;
  color: #2A2A2A; }

#msgPanel .msg-box a.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
  height: 20px;
  background: url(images/close.png) center center no-repeat;
  z-index: 99;
  opacity: .6;
  cursor: pointer;
  transition: all .5s; }

#msgPanel .msg-box a.close:hover {
  opacity: 1; }

#msgPanel .msg-box .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: table; }

#msgPanel .msg-box .content .msg {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 23px;
  text-align: center;
  color: #3E3E3E;
  font-size: 13px; }

#msgPanel .msg-box .content .msg span.step-num {
  margin: 0 5px;
  font-size: 24px;
  color: #ff0000; }

#msgPanel .msg-box .content .msg span.step-names {
  color: #ff0000; }

#msgPanel .msg-box .btns {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px; }

#msgPanel .msg-box .btns .btn {
  float: left;
  width: 50%;
  height: 100%;
  border-top: 1px solid #999;
  outline: none;
  color: #EEE;
  cursor: pointer;
  transition: all .5s; }

#msgPanel .msg-box .btns .btn.cancel {
  border-right: 1px solid #999;
  color: #FF2200; }

#msgPanel .msg-box .btns .btn.cancel:hover {
  background-color: rgba(127, 127, 127, 0.8);
  color: #EEE; }

#msgPanel .msg-box .btns .btn.sure {
  color: #0BB20C; }

#msgPanel .msg-box .btns .btn.sure:hover {
  background-color: rgba(11, 178, 12, 0.5);
  color: #FFF; }

#msgPanel .msg-box .btns .btn.close {
  width: 100%;
  color: #FF2200; }

#msgPanel .msg-box .btns .btn.close:hover {
  background-color: rgba(127, 127, 127, 0.8);
  color: #EEE; }

/* tool */
#tool {
  position: absolute;
  display: none;
  z-index: 10;
  width: 100px;
  background-color: #3e3e3e;
  color: #fff; }
  #tool .tool_btn {
    width: 100%;
    border-radius: 5px;
    overflow: hidden; }
    #tool .tool_btn button {
      color: #000;
      width: 100%;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      background-color: #fff;
      margin-bottom: 1px; }
      #tool .tool_btn button.iconfont::before {
        font-size: 20px;
        margin-right: 15px; }
    #tool .tool_btn button:hover {
      background-color: #ff8833;
      color: #fff; }

.toolLeftT:before {
  position: absolute;
  top: 5px;
  left: -10px;
  content: '';
  border-left: 10px solid transparent;
  border-top: 10px solid #fff; }

.toolRightT:before {
  position: absolute;
  top: 5px;
  right: -10px;
  content: '';
  border-right: 10px solid transparent;
  border-top: 10px solid #fff; }

.toolLeftB:before {
  position: absolute;
  bottom: 5px;
  left: -10px;
  content: '';
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff; }

.toolRightB:before {
  position: absolute;
  bottom: 5px;
  right: -10px;
  content: '';
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff; }

.layui-layer-content{
  color:#fff;
}

/*# sourceMappingURL=linkageCrud.css.map */
